#splash {
    background: #171717 url(splash.jpg?v=1) no-repeat center;
    background-size: cover;
}

#orientation {
    background: url(assets/images/orientation_phone.png);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

input {
    font-size: 24px !important;
}