extends layout.pug

block content
    .col-lg-5.col-md-8.col-sm-12
        form#addForm
            .form-group
                label(for='merchantId') Merchant ID
                input#merchantId.form-control(type='text' placeholder='Enter merchant ID')
            .form-group
                label(for='description') Description
                input#description.form-control(type='text' placeholder='Enter description')
            .form-group
                label(for='currency') Currency
                select#currency.form-control
            .form-group
                label(for='connectionId') Connection ID
                select#connectionId.form-control
            .form-group
                label(for='secretKey') Secret Key
                #secretKey
            .btn.btn-primary(onclick='merchants.onAddMerchant(event);') Add

block scripts
    script(src='assets/pages/merchants.js')
    script.
      $(document).ready(function () {
        core.api.getMerchants(function (data) {
          merchants.data = data;
          merchants.preprocessData(merchants.data.merchantList);
          merchants.updateCurrenciesSelection();
          merchants.updateConnectionSelection();
        });
      });