extends layout.pug

block content
    .col-lg-5.col-md-8.col-sm-12
        form#addForm
            .form-group
                label(for='merchantId') Merchant ID
                #merchantId
            .form-group
                label(for='currency') Currency
                select#currency.form-control
            input#connectionId(type='hidden')
            input#secretKey(type='hidden')
            input#description(type='hidden')
            .btn.btn-primary(onclick='merchants.onAddCurrency(event);') Add

block scripts
    script(src='assets/pages/merchants.js')
    script.
      $(document).ready(function () {
        core.api.getMerchants(function (data) {
          merchants.data = data;
          merchants.preprocessData(merchants.data.merchantList);
          merchants.initAddCurrencyForm();
        });
      });