extends layout.pug

block content
    div
        form#addForm
            .form-group
                label(for='currencyId') Currency
                input#currencyId.form-control(type='text' placeholder='Enter currency code')
            .form-group
                label(for='description') Description
                input#description.form-control(type='text' placeholder='Enter description')
            .btn.btn-primary(onclick='currency.onAddCurrency(event);') Add
    br
    br
    br
    table#connectionTable.display
        thead
            tr
                th Currency
                th Description
                th Action
        tbody

block scripts
    script(src='assets/pages/currency.js')
    script.
      $(document).ready(function () {
        core.api.getMerchants(function (data) {
          currency.data = data;
          currency.init();
        });
      });