extends layout.pug

block content
    div
        form#addForm
            .form-group
                label(for='oldConnectionId') Old Connection ID
                #oldConnectionId
            .form-group
                label(for='oldSecretKey') Old Description
                #oldSecretKey
            .form-group
                label(for='connectionId') Connection ID
                input#connectionId.form-control(type='text' placeholder='Enter connection ID')
            .form-group
                label(for='secretKey') Description
                input#secretKey.form-control(type='text' placeholder='Enter secret key')
            .btn.btn-primary(onclick='connections.onUpdateConnection(event);') Update

block scripts
    script(src='assets/pages/connections.js')
    script.
      $(document).ready(function () {
        core.api.getMerchants(function (data) {
          connections.data = data;
          connections.initEditPage();
        });
      });