doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Moon - Tool
    // Bootstrap core CSS
    link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // DataTables
    link(rel='stylesheet' type='text/css' href='assets/vendor/dataTables/DataTables-1.10.18/css/jquery.dataTables.css')
    // Custom fonts for this template
    link(href='assets/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    // Custom styles for this template
    link(href='assets/css/sb-admin.css' rel='stylesheet')
nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
    a.navbar-brand.mr-1(href='index.html') Moon - Tool
    button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0(href='assets/#')
        i.fas.fa-bars
    // Navbar Search
    // Navbar
#wrapper
    // Sidebar
    include sidebar
    #content-wrapper
        .container-fluid
            block content
// /#wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='assets#page-top')
    i.fas.fa-angle-up
// Bootstrap core JavaScript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
// DataTable JavaScript
script(type='text/javascript' charset='utf8' src='assets/vendor/dataTables/DataTables-1.10.18/js/jquery.dataTables.js')
// Core plugin JavaScript
script(src='assets/vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='assets/js/sb-admin.js')
// Merchant page JavaScript
block scripts
