extends layout.pug

block content
    a.btn.btn-outline-success(href='add-merchant')
        i.fas.fa-plus
    // Page Content
    table#merchantTable.display
        thead
            tr
                th Merchant ID
                th Currencies
                th Connection ID
                th Secret Key
        tbody

block scripts
    script(src='assets/pages/merchants.js')
    script.
      $(document).ready(function () {
        core.api.getMerchants(function (data) {
          merchants.data = data;
          merchants.preprocessData(merchants.data.merchantList);
          merchants.updateRowsUI();
          merchants.updateDataTable();
        });
      });