ul.sidebar.navbar-nav
    li.nav-item(class=sidebar === 'merchant' ? 'active' : '')
        a.nav-link(href='/tool')
            span="Merchants"
    li.nav-item(class=sidebar === 'connection' ? 'active' : '')
        a.nav-link(href='/tool/connection')
            span Connection
    li.nav-item(class=sidebar === 'currency' ? 'active' : '')
        a.nav-link(href='/tool/currency')
            span Currency