.title {
    vertical-align: middle !important;
    text-align: center;
    white-space: nowrap;
}

.margincontainer {
    margin-left: 20px;
    margin-right: 20px;
}
.table-name {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.table-home {
    width: 50%;
}
.total-revenue {
    background: #ff4444;
    font-size: 20px;
    color: white
}
.split-line {
    border-left:1px solid #000;
    height:auto;
    margin-left: 50px;
    margin-right: 50px;
}
td {
    width: 50%;
}
.copybutton {
    margin-left: 15px;
}
.property {
    width: 200px;
}
.value {
    margin-left: 10px;
}

span {
    display: flex;
}

td {
    vertical-align: middle !important;
    text-align: center;
}

a {
    color: black;
}