﻿body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #000;
    background: #1745ad
}

body {
    background-image: url(../images/mb-bg-3.jpg);
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat
}

.container {
    padding: 0;
    background-image: url(../images/bg-footer.png);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat
}

.char {
    background: url(../images/char.png) no-repeat;
    background-size: 38%;
    background-position: 10px 0%;
    width: 100%;
    animation-duration: 3.5s;
    position: relative
}

.tag-line {
    width: 100%;
    animation-delay: .6s;
    animation-duration: .5s;
    height: 50px;
}

.tag-line img {
    width: 63%
}

.buttons {
    width: 100%;
    text-align: center;
}

.btn {
    width: 48%
}

.imgD {

}

.decor {
    animation-duration: 5s;
    position: absolute;
    pointer-events: none
}

.effect {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2
}

.decor.circle4 {
    top: 20px;
    left: 28%;
    animation-delay: 3s
}

.decor.circle3 {
    top: 25px;
    left: 31%;
    animation-delay: 1s
}

.decor.circle2 {
    top: 20px;
    left: 31%;
    animation-delay: 2s
}

.decor.circle1 {
    top: 25px;
    left: 31%;
    animation-delay: 2s
}

.spacer {
    width: 1px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
}

.item > a {
    color: #fff;
}

.footer {
    height: 50px;
    color: #e5e5e5;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    animation-delay: 2s
}

.footer .item, .footer .spacer {
    display: inline;
}

.footer .coinbet {
    padding-bottom: 10px
}

.footer .coinbet img {
    width: 30%
}

.game-view {
    height: 250px;
    width: 100%;
    margin-top: 15px;
    animation-delay: 1.5s;
    background: url(../images/ingame.png) no-repeat;
    background-position: top;
    background-size: 126%;
}

.logo, .tag-line {
    text-align: center
}

.logo img {
    width: 30%
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat
}

.bgimg-1 {
    background-image: url(../images/mb-bg1.jpg);
    height: 100%;
    width: 100%
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px lato, sans-serif;
    color: #111
}

@media (min-width: 1281px) {
    body {
        background: url(../images/pc-bg-1.jpg) no-repeat;
        background-size: cover;
        min-height: 850px
    }


    .tag-line {
        display: inline;
        padding-left: 50px
    }

    .tag-line img {
        width: 36%;
        margin-left: 215px;
        padding-top: 45px
    }

    .char {
        animation-duration: 2.5s;
        background: 0 0
    }

    .pc-char {
        position: absolute;
        top: -80px;
        left: 62px;
        width: 30%
    }

    .logo {
        text-align: left;
        display: inline;
        line-height: 220px;
    }

    .logo img {
        width: 15%;
        margin-top: -65px
    }

    .buttons {
        text-align: center;
        /*padding-left: 165px*/
    }

    .imgD {
        padding-right: 0;
        display: inline
    }

    .btn {
        width: 20%
    }

    .btn-pc {
        width: 18%
    }

    .game-view {
        animation-delay: 0s;
        animation-duration: .5s;
        background: 0 0;
        text-align: center;
        /*padding-left: 165px;*/
        height: auto
    }

    .container {
        background: 0 0
    }

    .pc-ingame {
        width: 90%
    }

    .pc-footer {
    }

    .pc-footer img {
        width: 100%
    }

    .footer {
        font-size: 18px
    }

    .footer .coinbet {
        padding-bottom: 10px;
        display: inline
    }

    .footer .copyright {
        display: inline;
        margin-left: 110px
    }

    .footer .coinbet img {
        width: auto
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        background: 0 0
    }

    .footer .coinbet {
        padding-bottom: 10px
    }

    .footer .coinbet img {
        width: auto
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        background: 0 0
    }

    .footer {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        background: 0 0
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .game-view {
        height: 458px;
    }
}

@media (max-width: 1200px) {

}

@media (min-width: 360px) and (max-width: 400px) {

    .footer {
        margin-top: -40px;
    }
}

@media (min-width: 320px) and (max-width: 340px) {

    .footer {
        margin-top: -70px;
    }
}