doctype html
head
    meta(charset='utf-8')
    title Moon
    // http://www.html5rocks.com/en/mobile/mobifying/
    meta(name='viewport' content='width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1')
    // https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
    meta(name='format-detection' content='telephone=no')
    // force webkit on 360
    meta(name='renderer' content='webkit')
    meta(name='force-rendering' content='webkit')
    // force edge on IE
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='msapplication-tap-highlight' content='no')
    // force full screen on some browser
    meta(name='full-screen' content='yes')
    meta(name='x5-fullscreen' content='true')
    meta(name='360-fullscreen' content='true')
    // force screen orientation on some browser
    meta(name='screen-orientation' content='landscape')
    meta(name='x5-orientation' content='landscape')
    // fix fireball/issues/3568
    // <meta name="browsermode" content="application">
    meta(name='x5-page-mode' content='app')
    // safari manifest
    link(rel='apple-touch-icon' href='./assets/images/512x512.png')
    link(rel='apple-touch-icon-precomposed' href='./assets/images/512x512.png')
    link(rel='apple-touch-startup-image' href='./' + splash)
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    link(rel='stylesheet' type='text/css' href='' + styleMobile)
    link(rel='stylesheet' type='text/css' href='' + styleMain)
canvas#GameCanvas(oncontextmenu='event.preventDefault()' tabindex='0')
#splash
    .progress-bar.stripes
        span(style='width: 0%')
#orientation
script(src='mc/' + merchantId + '/src/' + settingName charset='utf-8')
script(src='mc/' + merchantId + '/' + mainName charset='utf-8')
script(type='text/javascript').
  (function () {
    // open web debugger console
    if (typeof VConsole !== 'undefined') {
      window.vConsole = new VConsole();
    }
    var splash = document.getElementById('splash');
    splash.style.display = 'block';
    var cocos2d = document.createElement('script');
    cocos2d.async = true;
    cocos2d.src = window._CCSettings.debug ? 'cocos2d-js.92dab.js' : 'cocos2d-js-min.js';
    var engineLoaded = function () {
      document.body.removeChild(cocos2d);
      cocos2d.removeEventListener('load', engineLoaded, false);
      window.boot();
    };
    cocos2d.addEventListener('load', engineLoaded, false);
    document.body.appendChild(cocos2d);
  })();
script.
  function updateOrientation() {
    var orientation = document.getElementById("orientation");
    switch (window.orientation) {
      case 0:
        orientation.style.display = 'block';
        // Portrait
        break;
      case 180:
        orientation.style.display = 'block';
        // Portrait (Upside-down)
        break;
      case -90:
        orientation.style.display = 'none';
        // Landscape (Clockwise)
        break;
      case 90:
        orientation.style.display = 'none';
        // Landscape  (Counterclockwise)
        break;
      default:
        orientation.style.display = 'none';
        break;
    }
  }
  updateOrientation();
  window.onorientationchange = updateOrientation;
