.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

.header {
    text-align: center;
    font-size: 60px;
}

.row {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.row a {
    margin: 50px;
}